@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/****body****/
body{
    font-family: 'Roboto', sans-serif;
}
/****header****/

header{
    display: flex;
    justify-content: space-between;



    height: 10vh;
    /* padding:28px, 30px, 28px, 30px; */
    background-color: rgb(60,196,124);

    
}
/****Title****/
p.Title{
    font-size: larger;
    height: 40vh;
    width: 40vw;
    margin: 23px;
    color: white;
    
}
@media(max-width:514){
    p.Title{
        font-size:medium
    }
}
/****Section1****/
div.Seção1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: blue;
    background-color: rgb(30,57,42);
    box-shadow: 0px 10px 10px rgba(78, 143, 78, 0.5);
}
img.figure {
    border-radius: 50%;
    
    /* left: 14vh; */
    top: 15px;
    margin-right: 50px;
    
}

h3.subtítulo {
    
    /* left:41vw;
    top:8vh; */
}
.texto{
    width: 500px;
    padding: 10px;
    text-align: justify;
    color:white;

}
/****Seçao2****/
div.Seçao2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    background-color: blue;
    background-color: rgba(60,196,124);
    /* background-image: linear-gradient( to right, rgb(93, 153, 125),gray); */



}
/****link****/

.ullink{
    display:flex;
    text-align: center;
}
ul.ullink li{
    padding: 0 50px;
    margin-top: 10px;
    transition: 0.5s;
    color: aliceblue;

}
a{
    color:aliceblue;
}

ul{list-style-type: none;}
/****figure****/
.easter-egg{
    opacity: 0;
}
.bulba img{
    transition: 2s;
}
.bulba img:hover,.easter-egg:hover {
    transform: rotate(180deg);
    transition: 2s;
    opacity: 1;
    
}
.imghob img {
    width: 80px;
    height:100px;
    box-shadow: 0px 4px 4px rgb(0, 0, 0);
    border-radius: 9%;
    
}
.imghob li {
    transition: 0.5s;
}
.imghob li:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
.hobandtop {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hobandtop div{
    margin: 0 40px;
    justify-content: center;
}
.imghob {
    display:flex;
    padding:0;
    gap:10px;
    flex-wrap: wrap;
    justify-content: center;
    
    
}
.texthob {
    text-align: end;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    color:black;
    font-weight: 300;
}
.texttop {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    font-weight: 300;
}   
figcaption {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    font-weight: 500;
    position: relative;
    bottom:20px;
    color:rgb(108, 167, 201);
    text-align: center;
    text-shadow: 1px 1px 2px black;
    
}
.sandw:hover {
    background-color:rgba(255, 255, 255, 0.2);
}

.ullink li:hover{
    
    opacity: 0.8;
    background-color:rgba(255, 255, 255, 0.2);
    padding: 0 50px;
    transition: 0.5s;

}
@media (max-width:1039px){

    .texthob{
        text-align: left;
    }
    .ullink {
        flex-direction:column;
        align-items: flex-start;
        height:0;
        margin:0;
        padding:0;
        margin-top: 35px;
        
    }
    .ullink li{
        display:none;
        
    }
}
@media (min-width:1040px){
    button.sandw{
        display:none;
    }
    
}

button.sandw {
    background-color: transparent;
    border:none;
    color:black;
    font-size: 36px;
    position:absolute;
    right:40px;
    top:5px;
}
button.sandw:focus ~ .sandw:hover{
    color:transparent;
    
}
button.sandw:focus ~ .ullink li{
    display:block;
    background-color:transparent;
    font-size: large;
    opacity: 1;

}
.ullink li:focus {
    display: block;

}
/****footer****/
footer{
    background-color: rgb(130,128,129);
    min-height: 112px;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
    align-items: center;
    position: relative;
}
.minfig {
    display:flex;
    flex-direction: row;
}
.minfig img{
    height: 50px;
    width: 50px;
    padding: 20px;
    display:flex;
    
}
.minfig a:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
.contact{
    color:aliceblue;
    display: flex;
    margin-top: 30px;
    margin-right: 50px;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    border-radius: 2rem;
    border: solid 4px;

}
a {
    text-decoration: none;
}
@media(max-width:550px){
    footer {
        justify-content: center;
        
        
    }
    .contact{

        margin: 10px 0;

    }
}